.footer
	.footer-main
		+svg('logo').footer__logo
		.footer__contact-row
			.footer__contact-row-title Телефон ЖК
			a(href="tel:0677987867").footer__contact-row-value (067) 798-78-67
		.footer__contact-row
			.footer__contact-row-title Застройщик
			a( target='_blank' href="https://comfort-life.com.ua").footer__contact-row-value comfort-life.com.ua

	.footer-bottom
		span.all-rights-phrase © 2020 IDEALIST club residence. Все права защищены. 
		.footer-bottom__text-block
		a(target='_blank' href="https://smarto.agency").web-developer-block
			span Розробка сайту
			img(src="./assets/images/common/smarto-logo.svg")
