//- .footer
	.footer-menu
		.footer-menu__group
			.footer-menu__group-title Envy concept store
			ul.footer-menu__group-links
				li
					a(href="about.html") О компании
				li  
					a(href="news.html") Новости
				li  
					a(href="shops.html") Магазины
				li  
					a(href="contacts.html") Контакты
		.footer-menu__group
			.footer-menu__group-title Collections
			ul.footer-menu__group-links 
				li
					a(href="catalogue.html") Женская 
				li
					a(href="catalogue.html") Мужская 
		.footer-menu__group
			.footer-menu__group-title Services
			ul.footer-menu__group-links 
				li
					a(href="return-conditions.html") Обмен/возврат 
				li
					a(href="payment-and-delivery.html") Оплата/доставка
				li
					a(href="faq.html") Вопрос/ответ
				li
					a(href="tailor-services.html") Услуги портного в магазинах
				li
					a(href="personal-professional-stylist.html") Личный профессиональный стилист
		.footer-menu__group
			.footer-menu__group-title Consultation
			ul.footer-menu__group-links
				
				li
					a(href="tel:(068) 297 70 77 ") (068) 297 70 77 
				li
					a(href="mailto:envyshop.manager@gmail.com") envyshop.manager@gmail.com
		.footer-menu__group
			.footer-menu__group-title Follow
			ul.footer-menu__group-links
				li 
					a(href="https://instagram.com" target='_blank') Instagram
				li 
					a(href="https://facebook.com" target='_blank') Facebook 

	.footer-bottom
		span.all-rights-phrase © Envy Concept Store все права защищены
		.footer-bottom__text-block
			a(href="confidential-politics.html") Политика конфиденциальности
			a(href="user-agreement.html") Пользовательское соглашение
			<svg width="52" height="18" viewBox="0 0 52 18" preserveAspectRatio="xMinYMin meet" fill="none" xmlns="http://www.w3.org/2000/svg">
				<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="52" height="18">
				<rect width="52" height="18" fill="#312629"/>
				</mask>
				<g mask="url(#mask0)">
				<path d="M20.758 1.26611L18.123 16.7261H22.337L24.974 1.26711H20.758V1.26611ZM14.59 1.28311L10.463 11.8271L10.023 10.2351C9.20903 8.31711 6.89804 5.56211 4.18604 3.82511L7.95904 16.7201L12.419 16.7131L19.053 1.28011L14.59 1.28311Z" fill="#3B4554"/>
				<path d="M8.423 2.39C8.178 1.447 7.468 1.166 6.587 1.132H0.054L0 1.441C5.084 2.674 8.448 5.646 9.844 9.22L8.424 2.39H8.423ZM33.514 4.23C34.595 4.20569 35.6692 4.40697 36.668 4.821L37.048 5.001L37.618 1.649C36.784 1.336 35.476 1 33.843 1C29.68 1 26.745 3.097 26.722 6.102C26.695 8.323 28.812 9.563 30.412 10.303C32.054 11.062 32.605 11.544 32.597 12.221C32.584 13.257 31.287 13.731 30.077 13.731C28.39 13.731 27.494 13.498 26.11 12.921L25.567 12.675L24.974 16.135C25.96 16.568 27.78 16.939 29.669 16.959C34.099 16.959 36.977 14.887 37.007 11.675C37.026 9.918 35.902 8.578 33.467 7.478C31.992 6.76 31.091 6.283 31.099 5.56C31.099 4.917 31.864 4.23 33.514 4.23ZM48.432 1.283H45.176C44.166 1.283 43.413 1.558 42.969 2.566L36.712 16.736H41.137C41.137 16.736 41.859 14.83 42.023 14.413L47.419 14.419C47.545 14.959 47.933 16.735 47.933 16.735H51.842L48.432 1.284V1.283ZM43.235 11.248C43.582 10.361 44.915 6.928 44.915 6.928C44.892 6.97 45.258 6.033 45.475 5.451L45.76 6.784L46.736 11.248H43.236H43.235Z" fill="#3B4554"/>
				<g >
				<rect width="52" height="18" fill="none"/>
				</g>
				</g>
				</svg>
			<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet" width="93" height="18" viewBox="0 0 93 18" fill="none">
				<mask id="mask01" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="93" height="18">
				<rect width="93" height="18" fill="#312629"/>
				</mask>
				<g mask="url(#mask01)">
				<path d="M40.379 11.8899V8.49492C40.379 7.21492 39.562 6.35192 38.247 6.34092C37.8725 6.31658 37.4982 6.39318 37.1633 6.56274C36.8284 6.7323 36.5451 6.9886 36.343 7.30492C36.1589 6.99816 35.8954 6.74673 35.5804 6.57708C35.2654 6.40743 34.9105 6.32585 34.553 6.34092C34.2418 6.32581 33.932 6.39211 33.6542 6.53328C33.3765 6.67445 33.1403 6.88561 32.969 7.14592V6.46692H31.79V11.8899H32.98V8.88692C32.98 7.94492 33.501 7.44692 34.307 7.44692C35.112 7.44692 35.486 7.95692 35.486 8.87492V11.8899H36.669V8.88692C36.669 7.94492 37.212 7.44692 37.996 7.44692C38.778 7.44692 39.186 7.95692 39.186 8.87492V11.8899H40.379ZM57.992 6.47192H56.066V4.82892H54.876V6.47192H53.776V7.54892H54.876V10.0189C54.876 11.2759 55.362 12.0249 56.756 12.0249C57.2769 12.0269 57.7878 11.8821 58.23 11.6069L57.89 10.5969C57.5738 10.7855 57.215 10.8908 56.847 10.9029C56.258 10.9029 56.064 10.5409 56.064 9.99792V7.54892H57.99L57.992 6.47192ZM68.047 6.33592C67.7596 6.32743 67.4752 6.39672 67.2238 6.53647C66.9725 6.67623 66.7635 6.88126 66.619 7.12992V6.47192H65.45V11.8899H66.629V8.85292C66.629 7.94692 67.014 7.45892 67.785 7.45892C68.038 7.45492 68.289 7.50092 68.523 7.59392L68.885 6.48392C68.6155 6.3872 68.3314 6.33715 68.045 6.33592H68.047ZM52.846 6.90192C52.1785 6.5052 51.4111 6.30873 50.635 6.33592C49.263 6.33592 48.372 6.99492 48.372 8.06992C48.372 8.95392 49.028 9.49792 50.241 9.66692L50.795 9.74692C51.44 9.83692 51.748 10.0069 51.748 10.3119C51.748 10.7309 51.318 10.9709 50.512 10.9709C49.8622 10.9914 49.2245 10.7919 48.702 10.4049L48.166 11.3219C48.852 11.8019 49.675 12.0479 50.512 12.0249C52.076 12.0249 52.984 11.2879 52.984 10.2579C52.984 9.30492 52.269 8.80792 51.092 8.63792L50.537 8.55792C50.028 8.49092 49.618 8.38792 49.618 8.02692C49.618 7.63092 50.003 7.39292 50.65 7.39292C51.2433 7.40158 51.8246 7.56127 52.339 7.85692L52.846 6.90192ZM84.42 6.33592C84.1326 6.32743 83.8482 6.39672 83.5968 6.53647C83.3455 6.67623 83.1365 6.88126 82.992 7.12992V6.47192H81.824V11.8899H83.004V8.85292C83.004 7.94692 83.388 7.45892 84.16 7.45892C84.412 7.45492 84.663 7.50092 84.897 7.59392L85.259 6.48392C84.9895 6.3872 84.7054 6.33715 84.419 6.33592H84.42ZM69.237 9.18092C69.237 10.8239 70.382 12.0249 72.127 12.0249C72.8344 12.0599 73.5292 11.8291 74.075 11.3779L73.51 10.4249C73.1025 10.7356 72.6055 10.9064 72.093 10.9119C71.151 10.9119 70.461 10.2199 70.461 9.17892C70.461 8.13692 71.154 7.45592 72.093 7.44492C72.6055 7.45046 73.1025 7.62126 73.51 7.93192L74.075 6.97892C73.5292 6.52776 72.8344 6.29699 72.127 6.33192C70.382 6.33192 69.237 7.53292 69.237 9.17592V9.18092ZM80.277 9.18092V6.46492H79.097V7.12392C78.8962 6.86447 78.6362 6.6569 78.3387 6.51858C78.0412 6.38027 77.7148 6.31523 77.387 6.32892C75.867 6.32892 74.671 7.51892 74.671 9.17392C74.671 10.8279 75.861 12.0189 77.386 12.0189C77.714 12.0328 78.0405 11.9678 78.3382 11.8295C78.6359 11.6912 78.8961 11.4835 79.097 11.2239V11.8809H80.277V9.18092ZM75.89 9.18092C75.89 8.22792 76.513 7.44692 77.533 7.44692C78.509 7.44692 79.165 8.19692 79.165 9.18092C79.165 10.1649 78.509 10.9139 77.533 10.9139C76.513 10.9139 75.89 10.1309 75.89 9.18092ZM61.665 6.33592C60.081 6.33592 58.967 7.49292 58.967 9.18092C58.967 10.9029 60.124 12.0249 61.744 12.0249C62.553 12.0539 63.344 11.7829 63.966 11.2649L63.389 10.3919C62.939 10.7519 62.3813 10.9508 61.805 10.9569C61.045 10.9569 60.355 10.6069 60.185 9.63092H64.208C64.22 9.48392 64.231 9.33692 64.231 9.17892C64.231 7.48992 63.177 6.33392 61.658 6.33392L61.665 6.33592ZM61.642 7.39092C62.402 7.39092 62.889 7.86592 63.014 8.70592H60.205C60.33 7.92292 60.805 7.39092 61.645 7.39092H61.642ZM91.21 9.17992V4.29492H90.03V7.12792C89.8291 6.86865 89.569 6.66127 89.2715 6.52313C88.974 6.385 88.6478 6.32012 88.32 6.33392C86.802 6.33392 85.604 7.52392 85.604 9.17892C85.604 10.8329 86.794 12.0229 88.32 12.0229C88.6477 12.0366 88.974 11.9717 89.2715 11.8336C89.569 11.6955 89.8291 11.4881 90.03 11.2289V11.8849H91.21V9.18092V9.17992ZM92.588 11.3889C92.645 11.3886 92.7011 11.4024 92.7514 11.429C92.8017 11.4556 92.8447 11.4942 92.8766 11.5413C92.9084 11.5885 92.9281 11.6428 92.934 11.6994C92.9398 11.7561 92.9316 11.8132 92.91 11.8659C92.8741 11.9487 92.8074 12.0144 92.724 12.0489C92.6385 12.0857 92.5418 12.0872 92.4552 12.0529C92.3686 12.0186 92.2992 11.9513 92.262 11.8659C92.2441 11.8242 92.2347 11.7794 92.2344 11.734C92.2341 11.6886 92.2428 11.6436 92.2602 11.6017C92.2775 11.5598 92.303 11.5217 92.3353 11.4898C92.3676 11.4579 92.4059 11.4328 92.448 11.4159C92.4939 11.3968 92.5433 11.3876 92.593 11.3889H92.588ZM92.588 11.9989C92.6229 11.9998 92.6576 11.9935 92.6899 11.9804C92.7223 11.9673 92.7516 11.9478 92.776 11.9229C92.8068 11.8917 92.8295 11.8535 92.8422 11.8116C92.8549 11.7697 92.8573 11.7253 92.849 11.6823C92.8407 11.6393 92.8221 11.599 92.7948 11.5647C92.7674 11.5305 92.7322 11.5035 92.692 11.4859C92.6591 11.4722 92.6237 11.4654 92.588 11.4659C92.5517 11.4654 92.5157 11.4722 92.482 11.4859C92.4418 11.5033 92.4063 11.5302 92.3788 11.5643C92.3512 11.5984 92.3324 11.6387 92.3239 11.6818C92.3155 11.7248 92.3176 11.7692 92.3302 11.8113C92.3427 11.8533 92.3653 11.8916 92.396 11.9229C92.422 11.9483 92.4529 11.9682 92.4867 11.9814C92.5206 11.9947 92.5567 12.0009 92.593 11.9999H92.588V11.9989ZM92.608 11.5689C92.6423 11.5666 92.6764 11.5765 92.704 11.5969C92.7151 11.6057 92.724 11.617 92.7299 11.6299C92.7358 11.6427 92.7386 11.6568 92.738 11.6709C92.7384 11.6833 92.7361 11.6956 92.7312 11.707C92.7264 11.7184 92.7192 11.7286 92.71 11.7369C92.6895 11.7554 92.6635 11.7666 92.636 11.7689L92.74 11.8889H92.658L92.561 11.7689H92.529V11.8889H92.461V11.5719L92.609 11.5699L92.608 11.5689ZM92.529 11.6289V11.7139H92.609C92.6231 11.718 92.638 11.718 92.652 11.7139C92.6571 11.7107 92.6612 11.7062 92.664 11.7009C92.6666 11.6953 92.6676 11.6891 92.667 11.6829C92.6675 11.6767 92.6664 11.6706 92.6637 11.665C92.6611 11.6593 92.6571 11.6545 92.652 11.6509C92.638 11.6468 92.6231 11.6468 92.609 11.6509L92.529 11.6279V11.6289ZM86.829 9.17892C86.829 8.22692 87.451 7.44592 88.472 7.44592C89.447 7.44592 90.103 8.19592 90.103 9.17992C90.103 10.1639 89.447 10.9129 88.472 10.9129C87.452 10.9129 86.829 10.1299 86.829 9.17992V9.17892ZM47.021 9.17892V6.46592H45.843V7.12492C45.6419 6.86752 45.3823 6.66177 45.0858 6.52473C44.7893 6.38769 44.4644 6.32331 44.138 6.33692C42.62 6.33692 41.423 7.52692 41.423 9.18192C41.423 10.8359 42.613 12.0259 44.138 12.0259C44.4659 12.0399 44.7924 11.9751 45.0901 11.8369C45.3878 11.6988 45.648 11.4913 45.849 11.2319V11.8879H47.029L47.021 9.18192V9.17892ZM42.636 9.17892C42.636 8.22692 43.258 7.44592 44.279 7.44592C45.254 7.44592 45.91 8.19592 45.91 9.17992C45.91 10.1639 45.254 10.9129 44.279 10.9129C43.259 10.9129 42.636 10.1329 42.636 9.17992V9.17892Z" fill="#3B4554"/>
				<path d="M16.7449 2.73999H9.61694V15.551H16.7449V2.74099V2.73999Z" fill="#FF5F00"/>
				<path d="M10.07 9.1499C10.0689 7.91643 10.3485 6.69888 10.8875 5.58939C11.4264 4.47991 12.2107 3.50755 13.181 2.7459C11.9791 1.80132 10.5357 1.21394 9.01579 1.05088C7.49588 0.887823 5.96075 1.15567 4.58586 1.82381C3.21097 2.49194 2.05179 3.53342 1.24081 4.82919C0.429824 6.12496 -0.000244141 7.62276 -0.000244141 9.1514C-0.000244141 10.68 0.429824 12.1778 1.24081 13.4736C2.05179 14.7694 3.21097 15.8109 4.58586 16.479C5.96075 17.1471 7.49588 17.415 9.01579 17.2519C10.5357 17.0889 11.9791 16.5015 13.181 15.5569C12.2103 14.7949 11.4258 13.8221 10.8868 12.7121C10.3478 11.602 10.0685 10.3839 10.07 9.1499Z" fill="#EB001B"/>
				<path d="M26.3632 9.15011C26.3624 10.6785 25.9318 12.1759 25.1205 13.4712C24.3092 14.7665 23.15 15.8075 21.7752 16.4753C20.4004 17.1431 18.8655 17.4107 17.3458 17.2477C15.8261 17.0846 14.383 16.4974 13.1812 15.5531C14.1511 14.7909 14.9353 13.8183 15.4745 12.7088C16.0138 11.5992 16.2939 10.3817 16.2939 9.14811C16.2939 7.91448 16.0138 6.69697 15.4745 5.58744C14.9353 4.47791 14.1511 3.50534 13.1812 2.74311C14.3831 1.79827 15.8266 1.21068 17.3466 1.04751C18.8667 0.884347 20.4021 1.15219 21.7771 1.82041C23.1521 2.48864 24.3114 3.53029 25.1224 4.82627C25.9334 6.12226 26.3634 7.62029 26.3632 9.14911V9.15011ZM25.5802 14.1931V13.9311H25.6872V13.8791H25.4222V13.9331H25.5282V14.1961L25.5802 14.1931ZM26.1032 14.1931V13.8771H26.0332L25.9382 14.1031L25.8432 13.8771H25.7592V14.1931H25.8072V13.9561L25.8952 14.1621H25.9562L26.0442 13.9561V14.1961L26.1042 14.1931H26.1032Z" fill="#F79E1B"/>
				<g>
				<	rect width="93" height="18" fill="none"/>
				</g>
				</g>
				</svg>
				a(target='_blank' href="https://smarto.agency").web-developer-block
					span Розробка сайту
					img(src="./assets/images/common/smarto-logo.svg")
