extends ../layout/main
block variable
    - var version = "ua";
    - var pageName = "documents";
block meta
    title= 'Idealist Документы'
    meta(name='description', content='')
block scripts
    script(defer src="./assets/scripts/libs.js")
    script(defer src="./assets/scripts/menu.js")
    script(defer src="./assets/scripts/documents.js")
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block content
    .title Документы
    .docs-wrapper#docs-wrapper
        .parent 
            a.doc(href="" target="_blank")
                .doc__date 02/07/20
                .doc__title Разрешение на строительство
                .arrow.gray
                    +svg('arrow')
            a.doc(href="" target="_blank")
                .doc__date 02/07/20
                .doc__title Разрешение на строительство
                .arrow.gray
                    +svg('arrow')
            a.doc(href="" target="_blank")
                .doc__date 02/07/20
                .doc__title Разрешение на строительство
                .arrow.gray
                    +svg('arrow')
            a.doc(href="" target="_blank")
                .doc__date 02/07/20
                .doc__title Разрешение на строительство
                .arrow.gray
                    +svg('arrow')
            a.doc(href="" target="_blank")
                .doc__date 02/07/20
                .doc__title Разрешение на строительство
                .arrow.gray
                    +svg('arrow')
            a.doc(href="" target="_blank")
                .doc__date 02/07/20
                .doc__title Разрешение на строительство
                .arrow.gray
                    +svg('arrow')
            a.doc(href="" target="_blank")
                .doc__date 02/07/20
                .doc__title Разрешение на строительство
                .arrow.gray
                    +svg('arrow')
            a.doc(href="" target="_blank")
                .doc__date 02/07/20
                .doc__title Разрешение на строительство
                .arrow.gray
                    +svg('arrow')
            a.doc(href="" target="_blank")
                .doc__date 02/07/20
                .doc__title Разрешение на строительство
                .arrow.gray
                    +svg('arrow')
            a.doc(href="" target="_blank")
                .doc__date 02/07/20
                .doc__title Разрешение на строительство
                .arrow.gray
                    +svg('arrow')
            a.doc(href="" target="_blank")
                .doc__date 02/07/20
                .doc__title Разрешение на строительство
                .arrow.gray
                    +svg('arrow')
block footer
block header