extends ../layout/main
block variable
    - var version = "ua";
    - var pageName = "facilities";
block meta
    title= 'Idealist Удобства'
    meta(name='description', content='')
block scripts
    script(defer src="./assets/scripts/libs.js")
    script(defer src="./assets/scripts/menu.js")
    script(defer src="./assets/scripts/facilities.js")
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block content
    .double-part-section.reverse.symmetrical
        picture.double-part-section__img
            .glitch.glitch--style-1
                .glitch__img(style="background: url(./assets/images/watch-more1.jpg) no-repeat 50% 0;")
                .glitch__img(style="background: url(./assets/images/watch-more1.jpg) no-repeat 50% 0;")
                .glitch__img(style="background: url(./assets/images/watch-more1.jpg) no-repeat 50% 0;")
                .glitch__img(style="background: url(./assets/images/watch-more1.jpg) no-repeat 50% 0;")
        .double-part-section__text.home-screen-description-block
            .home-screen-description-block__subtitle.subtitle удобства
            .facilities-slick
                .facilities-slick-slide(data-src="./assets/images/gallery/1_gallery.jpg")
                    .home-screen-description-block__title.title Идеальное расположение
                    .home-screen-description-block__text-wrap
                        <svg class="home-screen-description-block__decor" width="11" height="52" viewBox="0 0 11 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 52V0" stroke="#EB8271" stroke-miterlimit="10"/>
                            <path d="M1 29V0" stroke="#EB8271" stroke-miterlimit="10"/>
                            </svg>
                        .home-screen-description-block__text Комплекс расположен в одном из самых зеленых районов Киева, в окружении 3х крупных парков. При этом от центра столицы его отделяет всего 15 минут на авто, а 3 станции метро находятся в шаговой доступности.
                .facilities-slick-slide(data-src="./assets/images/gallery/2_gallery.jpg")
                    .home-screen-description-block__title.title Идеальное расположение
                    .home-screen-description-block__text-wrap
                        <svg class="home-screen-description-block__decor" width="11" height="52" viewBox="0 0 11 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 52V0" stroke="#EB8271" stroke-miterlimit="10"/>
                            <path d="M1 29V0" stroke="#EB8271" stroke-miterlimit="10"/>
                            </svg>
                        .home-screen-description-block__text Комплекс расположен в одном из самых зеленых районов Киева, в окружении 3х крупных парков. При этом от центра столицы его отделяет всего 15 минут на авто, а 3 станции метро находятся в шаговой доступности.
                .facilities-slick-slide(data-src="./assets/images/gallery/3_gallery.jpg")
                    .home-screen-description-block__title.title Идеальное расположение
                    .home-screen-description-block__text-wrap
                        <svg class="home-screen-description-block__decor" width="11" height="52" viewBox="0 0 11 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 52V0" stroke="#EB8271" stroke-miterlimit="10"/>
                            <path d="M1 29V0" stroke="#EB8271" stroke-miterlimit="10"/>
                            </svg>
                        .home-screen-description-block__text Комплекс расположен в одном из самых зеленых районов Киева, в окружении 3х крупных парков. При этом от центра столицы его отделяет всего 15 минут на авто, а 3 станции метро находятся в шаговой доступности.
                .facilities-slick-slide(data-src="./assets/images/gallery/4_gallery.jpg")
                    .home-screen-description-block__title.title Идеальное расположение
                    .home-screen-description-block__text-wrap
                        <svg class="home-screen-description-block__decor" width="11" height="52" viewBox="0 0 11 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 52V0" stroke="#EB8271" stroke-miterlimit="10"/>
                            <path d="M1 29V0" stroke="#EB8271" stroke-miterlimit="10"/>
                            </svg>
                        .home-screen-description-block__text Комплекс расположен в одном из самых зеленых районов Киева, в окружении 3х крупных парков. При этом от центра столицы его отделяет всего 15 минут на авто, а 3 станции метро находятся в шаговой доступности.
                .facilities-slick-slide(data-src="./assets/images/gallery/5_gallery.jpg")
                    .home-screen-description-block__title.title Идеальное расположение
                    .home-screen-description-block__text-wrap
                        <svg class="home-screen-description-block__decor" width="11" height="52" viewBox="0 0 11 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 52V0" stroke="#EB8271" stroke-miterlimit="10"/>
                            <path d="M1 29V0" stroke="#EB8271" stroke-miterlimit="10"/>
                            </svg>
                        .home-screen-description-block__text Комплекс расположен в одном из самых зеленых районов Киева, в окружении 3х крупных парков. При этом от центра столицы его отделяет всего 15 минут на авто, а 3 станции метро находятся в шаговой доступности.
                .facilities-slick-slide(data-src="./assets/images/gallery/6_gallery.jpg")
                    .home-screen-description-block__title.title Идеальное расположение
                    .home-screen-description-block__text-wrap
                        <svg class="home-screen-description-block__decor" width="11" height="52" viewBox="0 0 11 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 52V0" stroke="#EB8271" stroke-miterlimit="10"/>
                            <path d="M1 29V0" stroke="#EB8271" stroke-miterlimit="10"/>
                            </svg>
                        .home-screen-description-block__text Комплекс расположен в одном из самых зеленых районов Киева, в окружении 3х крупных парков. При этом от центра столицы его отделяет всего 15 минут на авто, а 3 станции метро находятся в шаговой доступности.

            .facilities-slider__dots-row
            .facilities-slider__navigation-row
                .slider-counter.js-gallery-slider-counter
                    .slider-counter__arrow.slider-counter__arrow-current.current 01
                    .slider-counter__delimiter 
                    .slider-counter__arrow.slider-counter__arrow-total.total 24
                .facilities-slider__arrows
                    .arrow.arrow-s.prev
                        +svg('arrow')
                    .arrow.arrow-s.next
                        +svg('arrow')
block footer
block header