.build-progress-view-screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    // z-index: -1;
    img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
    @include to(575px) {
        height: calc(100vh - 50px - 20px);
    }
}

#build-progress {
    .page__content {
        position: relative;
        padding-top: var(--header-height);
        min-height: 100vh;
        padding-left: var(--side-fields);
        padding-right: var(--side-fields);
    }
    .arrow {
        cursor: none;
        pointer-events: none;
        transition: transform .3s ease-out;
    }
    .arrow.left-side {
        transform: rotate(0.5turn);
    }
    .build-progress-nav-wrap {
        display: flex;
        position: absolute;
        left: 50%;
        bottom: var(--side-fields);
        transform: translateX(-50%);
        z-index: 2;
        &>*:first-child {
            margin-right: 50px;
        }
        &>*:nth-child(2) {
            margin-right: 120px;
        }
    }
    .build-progress-view-screen:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        z-index: 4;
    }
    .watch-more {
        margin-top: calc(100vh - var(--header-height) - 38px);
    }
    @include to(575px) {
        .build-progress-nav-wrap {
            flex-wrap: wrap;
            width: 100%;
        }
        .build-progress-nav-wrap .custom-select {
            width: 50%;
            margin-right: auto;
            margin-left: auto;
        }
        .slider-counter {
            position: absolute;
            right: var(--side-fields);
            top: -50vh;
            flex-direction: column;
        }
        .slider-counter__delimiter {
            height: 62px;
            width: 1px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

.page-title {
    font-size: 30px;
    line-height: 38px;
    &.white {
        color: var(--white);
    }
}

.custom-select {
    --self-color: var(--white);
    position: relative;
    z-index: 2;
    color: var(--self-color);
    max-width: 120px;
    width: 120px;
    position: relative;
    padding-right: 15px;
    min-height: 30px;
    overflow: hidden;
    transform-origin: bottom;
    &:hover {
        max-height: none;
        overflow: visible;
    }
    &__items-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        display: flex;
        transition: opacity .3s ease-out;
        flex-direction: column-reverse;
    }
    &.to-bottom &__items-wrapper {
        bottom: auto;
        top: 0;
    }
    svg {
        position: absolute;
        right: 2px;
        bottom: 15px;
        transform: translateY(50%);
    }
    &__item {
        font-size: 18px;
        line-height: 38px;
        letter-spacing: 0.04em;
        order: 2;
        cursor: pointer;
        opacity: 0.5;
        transition: opacity .3s ease-out;
        padding-left: 5px;
    }
    &__item-current {
        line-height: 30px;
        opacity: 1;
        order: 1;
    }
    &__item:hover {
        opacity: 1;
    }
    &:after {
        content: '';
        height: 0.5px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: var(--self-color);
    }
    &.to-bottom:after {
        bottom: 1px;
    }
    &.to-bottom &__items-wrapper {
        flex-direction: column;
    }
    @include to(575px) {
        min-height: 26px;
        &__item {
            font-size: 14px;
            line-height: 23px;
        }
        &__items-wrapper {
            background: var(--orange);
            padding-left: 5px;
        }
        svg {
            z-index: 3;
        }
    }
    @include to(375px) {
        width: 95px;
    }
}