#developer {
    background-color: var(--white);
    .double-part-section:first-child {
        min-height: calc(100vh + var(--header-height));
    }
    .double-part-section:first-child .double-part-section__text {
        // padding-top: var(--header-height);
    }
    .double-part-section:first-child .double-part-section__img {
        height: calc(100vh + var(--header-height));
    }
    .watch-more {
        position: relative;
        background-color: var(--white);
    }
    /*scroll screen*/
    // .scrolling-screen {
    //     padding-left: 0;
    //     padding-right: var(--side-fields);
    // }
    // .scrolling-screen-slide {
    //     padding-top: 0;
    //     height: calc(100vh - var(--header-height));
    // }
    // .scrolling-screen__left {
    //     @include size(7);
    //     padding-left: 0;
    // }
    // .scrollmagic-pin-spacer {
    //     width: calc(100% / 12 * 5 - 10px) !important;
    //     min-width: auto !important;
    // }
    // .scrollmagic-pin-spacer .scrolling-screen__right {
    //     width: auto;
    //     @include shift-padding(0.5);
    //     display: flex;
    //     align-items: flex-start;
    //     justify-content: center;
    //     flex-direction: column;
    //     height: 100vh;
    // }
    /*scroll screen end*/
}

.other-project-wrapper {
    // min-height: 100vh;
    --vert-padding: 100px;
    // padding-top: var(--vert-padding);
    // padding-bottom: var(--vert-padding);
    background-color: var(--other-gray);
    position: relative;
    &__left {
        @include size(7);
    }
    &__left img {
        padding-top: calc(var(--vert-padding) / 2);
        padding-bottom: calc(var(--vert-padding) / 2);
    }
    &__right {
        @include size(5);
        // @include shift-padding-left(0.5);
        position: absolute;
        right: 0;
        top: 0;
        height: calc(100vh - var(--vert-padding));
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    // &>* {
    //     // height: calc(100vh - (var(--vert-padding) * 2));
    //     width: 100%;
    // }
    &__right .title {
        margin-bottom: 1em;
        margin-top: 1em;
        min-height: calc(1.6em * 2);
        max-width: 85%;
    }
    &__right .delimiter {
        margin-bottom: 90px;
        width: 40%;
    }
    .scrollmagic-pin-spacer &__right {
        width: auto;
        // @include shift-padding-left(0.25);
    }
    .glitch {
        width: 100%;
        // height: 100%;
    }
    .other-project-slide__img {
        overflow: hidden;
        height: calc(100vh - var(--vert-padding));
        margin-top: calc(var(--vert-padding));
        margin-bottom: calc(var(--vert-padding));
    }
}

.other-project-slide {
    display: flex;
    flex-wrap: wrap;
    &__img {
        position: relative;
        img,
        .glitch__img {
            @include size(7);
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__text {
        @include size(5);
        @include shift-padding(1);
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }
    &__text .title {
        margin-bottom: 1em;
        margin-top: 1em;
    }
    .delimiter {
        margin-bottom: 90px;
        width: 40%;
    }
}