#facilities {
    background-color: var(--other-gray);
    .double-part-section__img {
        position: relative;
    }
    .double-part-section__text {
        height: calc(100vh - var(--header-height));
        padding-top: var(--header-height);
        padding-bottom: 80px;
    }
    .home-screen-description-block__text-wrap {
        margin-top: 35px;
    }
    .glitch {
        width: 100%;
        height: 100%;
    }
    .slider-counter .slider-counter__delimiter {
        background-color: var(--orange);
    }
    .slider-counter .slider-counter__arrow {
        color: var(--very-gray);
    }
    @include to(950px) {
        .double-part-section__text {
            padding-left: 0;
            padding-right: 0;
        }
    }
    @include to(575px) {
        .double-part-section {
            padding-left: var(--side-fields);
            margin-top: var(--header-height);
        }
        .double-part-section__img {
            width: calc(100% + (var(--side-fields) * 2));
            margin-left: calc(var(--side-fields) * -1);
            margin-right: calc(var(--side-fields) * -1);
        }
        .double-part-section__text {
            height: auto;
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .home-screen-description-block__text-wrap {
            margin-top: 20px;
        }
    }
}

.facilities-slider {
    &__navigation-row {
        display: flex;
        margin-top: auto;
    }
    &__arrows {
        display: flex;
        margin-left: auto;
        &>*:first-child {
            margin-right: 15px;
        }
        .prev {
            transform: rotate(-90deg);
        }
        .next {
            transform: rotate(90deg);
        }
        svg {
            transform: translateX(0);
        }
    }
    &__navigation-dot {
        width: 10px;
        height: 10px;
        transition: .3s ease-out;
        cursor: pointer;
        fill: var(--other-gray);
    }
    &__navigation-dot.active {
        width: 26px;
        height: 26px;
        fill: var(--white);
    }
    &__navigation-dot-border {
        stroke: var(--gray);
    }
    &__navigation-dot:not(.active) &__navigation-dot-border {
        stroke-width: 4;
    }
    &__navigation-dot-inner {
        fill: var(-other-gray);
    }
    &__navigation-dot.active &__navigation-dot-border {
        stroke: var(--orange);
    }
    &__navigation-dot.active &__navigation-dot-inner {
        fill: var(--orange);
        stroke: var(--white);
    }
    &__dots-row {
        min-height: 26px;
        display: flex;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        width: max-content;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    &__dots-row:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 1px;
        width: 100%;
        background-color: var(--gray);
        z-index: 0;
    }
    &__dots-row>* {
        margin-left: 15px;
        margin-right: 15px;
        z-index: 1;
        position: relative;
    }
    @include to(575px) {
        &__dots-row {
            display: none;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        &__navigation-row {
            margin-top: 20px;
        }
    }
}