#gallery {
    .arrow {
        cursor: none;
        pointer-events: none;
        transition: transform .3s ease-out;
    }
    .arrow.left-side {
        transform: rotate(0.5turn);
    }
    @include to(575px) {
        .slick-next {
            position: absolute;
            right: 0;
            z-index: 10;
            top: 50%;
        }
        .slick-prev {
            position: absolute;
            left: 0;
            z-index: 10;
            top: 50%;
        }
        .slick-next,
        .slick-prev {
            width: 40px;
            height: 40px;
            color: transparent;
            background-color: var(--orange);
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(-50%);
        }
        .slick-next:after,
        .slick-prev:after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 12px;
            height: 10px;
            filter: brightness(10);
            background-repeat: no-repeat;
            left: 50%;
            top: 50%;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='white' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 512.002 512.002' style='enable-background:new 0 0 512.002 512.002;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105 L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795 l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
        }
        .slick-prev:after {
            transform: translate(-50%, -50%) rotate(0.5turn);
        }
    }
}

.gallery-slider {
    position: relative;
    img {
        object-fit: cover;
        object-position: center;
        height: 100vh;
    }
    .slider-counter {
        position: absolute;
        left: 50%;
        bottom: 18px;
        transform: translateX(-50%);
        z-index: 1;
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        z-index: 4;
    }
}