.smarto-logo {
    white-space: nowrap;
    display: flex;
    padding-top: 54px;
    padding-bottom: 42px;
    &>img {
        width: 70px;
        margin-left: 10px;
        height: 28px;
    }
    @include to(768px) {
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0 auto;
    }
}

.footer {
    background: #F5F5F5;
    width: calc(100% + 90px + var(--side-fields));
    margin-left: -90px;
    padding-left: 90px;
    padding-right: var(--side-fields);
    margin-right: calc(var(--side-fields) - (var(--side-fields) * 2));
    padding: 80px var(--side-fields) 90px 90px;
    /* identical to box height, or 160% */
    @include from(1680px) {}
    @include to(768px) {
        width: calc(100% + var(--side-fields) * 2);
        margin-right: calc(var(--side-fields) - (var(--side-fields) * 2));
        margin-left: calc(var(--side-fields) - (var(--side-fields) * 2));
        padding: 60px var(--side-fields) 69px var(--side-fields);
        .copyright-span {
            margin-right: auto;
        }
        .smarto-logo {
            margin-right: 0;
            margin-left: auto;
        }
    }
    .form-call-button:after {
        // display:none;
    }
    @include to(575px) {
        padding: 60px var(--side-fields) 60px var(--side-fields);
        .social-links {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    @include to(480px) {
        .copyright-span,
        .smarto-logo {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.footer-adress {
    color: var(--gray);
    font-size: 14px;
    line-height: 20px;
    max-width: 174px;
    .button {
        margin-top: 12px;
    }
}

.footer-menu {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 80px;
    &__group {
        width: 20%;
    }
    &__group.first {
        display: flex;
        flex-direction: column;
    }
    &__group.first &__group-title:not(:last-child) {
        margin-bottom: 10px;
    }
    &__group-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        color: #312629;
    }
    &__group-links {
        margin-top: 40px;
        font-size: 12px;
        line-height: 14px;
        color: #A0A0A0;
    }
    &__group-links a {
        text-decoration: none;
        color: inherit;
        transition: .5s;
        position: relative;
    }
    &__group-links-last {
        text-transform: none;
        line-height: 1.6em;
    }
    &__group-links li {
        display: flex;
        flex-direction: column;
    }
    &__group-links li:not(:last-child) {
        margin-bottom: 15px;
    }
    .button-std {
        margin-top: 10px;
    }
    @include from(769px) {
        &__group-links a {
            position: relative;
            width: max-content;
            z-index: 1;
        }
        &__group.first &__group-title {
            position: relative;
        }
        &__group-links a:before {
            content: '';
            position: absolute;
            top: 0%;
            left: -10%;
            width: 100%;
            height: 100%;
            border-radius: 30px;
            background-color: var(--green);
            transform-origin: left;
            transform: scaleX(0);
            transition: .5s;
            z-index: -1;
        }
        &__group.first &__group-title:hover {
            color: var(--yellow);
        }
        &__group-links a:hover {
            color: var(--pink);
        }
        &__group-links a:hover:before {
            transform: scaleX(1);
        }
    }
    @include from(1680px) {
        &__group {
            padding-left: 7%;
        }
    }
    @include from-to(769px, 950px) {
        &__group {
            width: 33%;
        }
        &__group:nth-child(-n+3) {
            margin-bottom: 15px;
        }
    }
    @include to(768px) {
        margin-top: 0px;
        margin-bottom: 0px;
        &__group {
            @include size(4);
            margin-bottom: 30px;
        }
        &__group-title {
            font-size: 16px;
        }
        &__group-links a {
            white-space: nowrap;
        }
    }
    @include from-to(576px, 768px) {
        &__group:last-child {
            margin-right: auto;
            margin-left: 20px;
        }
    }
    @include to(575px) {
        &__group {
            width: 50%;
            padding-right: 15px;
        }
        &__group-title {
            font-size: 14px;
        }
        &__group-links {
            margin-top: 30px;
        }
        &__group-links a {
            line-height: 1.5em;
            white-space: normal;
        }
        &__group-links li {
            margin-bottom: 10px;
        }
        .button-std {
            padding-left: 0;
            .button-std__icon {
                display: none;
            }
        }
        &__group:last-child {
            order: 1;
        }
        &__group:nth-child(4) {
            order: 2;
            margin-bottom: 30px;
        }
        &__group-links li:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.footer-bottom {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: var(--self-font-color);
    --self-font-color: #A0A0A0;
    &__text-block {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 30px;
        width: 80%;
    }
    &__text-block>*:not(:last-child) {
        margin-right: 30px;
    }
    &__text-block>*:last-child {
        margin-left: auto;
    }
    &__text-block a {
        text-decoration: none;
        color: var(--self-font-color);
    }
    &__text-block>svg {
        filter: grayscale(1);
    }
    .web-developer-block {
        display: flex;
        color: inherit;
        align-items: center;
        color: var(--self-font-color);
        text-decoration: none;
        img {
            width: 70px;
            height: 28px;
            margin-left: 20px;
        }
    }
    .all-rights-phrase {
        line-height: 2.42em;
    }
    @include from(1720px) {
        &__text-block {
            margin-left: 0;
        }
        .all-rights-phrase {
            margin-right: 60px;
        }
        &__text-block {
            width: 80%;
        }
        &__text-block>*:not(:last-child) {
            margin-right: 60px;
        }
    }
    @include to(1260px) {
        &__text-block>*:last-child {
            margin-left: 0;
        }
    }
    @include to(950px) {
        width: 100%;
        .all-rights-phrase {
            @include size(4);
            margin-right: auto;
            line-height: 2.42em;
        }
        &__text-block {
            @include size(8);
            margin-left: 20px;
        }
        &__text-block>a {
            @include size(6);
        }
        .web-developer-block {
            @include size(6);
            margin-left: 20px;
        }
        &__text-block>svg {
            @include size(3);
        }
        &__text-block>*:not(:last-child) {
            margin-right: 0px;
        }
    }
    @include to(768px) {
        .all-rights-phrase {
            margin-right: 0;
        }
        &__text-block {
            margin-left: 20px;
        }
        .web-developer-block {
            margin-left: auto;
        }
        &__text-block>a:nth-child(2) {
            margin-left: auto;
        }
    }
    @include to(575px) {
        padding-top: 0;
        padding-bottom: 0;
        flex-direction: column;
        .all-rights-phrase {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            line-height: 1.17em;
        }
        &__text-block {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        &__text-block>* {
            padding: 0;
            margin: 0;
            width: 100%;
        }
        &__text-block>*:not(:last-child) {
            margin-right: 0px;
        }
        .web-developer-block {
            margin-left: 0;
            margin-right: auto;
            margin-top: 0px;
            width: 100%;
        }
        &__text-block>a {
            width: 100%;
        }
        &__text-block>svg {
            width: 30%;
        }
        &__text-block>*,
        .all-rights-phrase {
            margin-bottom: 15px;
        }
    }
}